{{#if category}}
  <div class="custom-category-banner" style="{{#if category.image_url}}background-image: url({{category.image_url}});{{/if}}">
    <div class="banner-content-wrapper">
      <div class="text-container">
        <h1>{{category.name}}</h1>
        <div class="category-description">
          {{{category.description}}}
        </div>
      </div>

      <div class="search-and-filter-container">
        <div class="search-container">
          {{search-banner}}
        </div>
        
        {{! Special filter buttons for Category ID 5 }}
        {{#if (eq category.id 5)}}
          <div class="category-filters">
            <button data-tag="all">Visa alla</button>
            <button data-tag="på-gång">På gång</button>
            <button data-tag="realiserat">Realiserade</button>
            <button data-tag="öppet-för-nya-medlemmar">Öppna för nya medlemmar</button>
          </div>
        {{/if}}
      </div>
    </div>
  </div>
{{/if}}