.custom-category-banner {
  min-height: 350px;
}

.custom-homepage-wrapper {
  .main-content-grid {
    display: grid;
    grid-template-columns: 1fr 4fr; // 1/5 and 4/5 width
    gap: 30px;
    max-width: var(--d-max-width, 1140px);
    margin: 2rem auto;
    padding: 0 2rem;
  }

  .left-column {
    // Styling for the first card to show description
    .info-card:first-child .card-content {
      display: block;
    }
  }
}